noisereduce
kneed
python_speech_features
librosa
Unidecode
tensorflow
opencv-python
num2words
scipy
numpy
matplotlib
pandas
moviepy
pydub
tensorflow_datasets
tqdm
torch
umap_learn
imageio
pytube3